:root {
    --bg-color: #e4f1f7;
    --card-color: #ffffff;
    --text-color: #000;
    --primary-color: #5096ad;
    --secondary-color: #cfe9f5;
    --image-url: url(./images/weather.jpg);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 20px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: scroll;
    color: var(--text-color);
}

body.dark {
    --bg-color: #50647c;
    --card-color: #162841;
    --text-color: #f1f1f1;
    --primary-color: #355472;
    --secondary-color: #020a1f;
    --image-url: url(./images/weatherdark.png);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--card-color) inset !important;
  -webkit-text-fill-color: black;
  transition: var(--card-color) 5000s ease-in-out 0s;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

form {
    display: flex;
    gap: 12px;
}

.input-bar {
    display: flex;
    align-items: center;
    padding: 2px 12px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
}

form input[type="text"] {
    border: none;
    outline: none;
    padding: 12px 6px;
    width: 200px;
    background-color: transparent;
    color: var(--text-color);
}

form input[type="submit"] {
    padding: 4px 18px;
    border-radius: 24px;
    cursor: pointer;
    border: none;
    background: var(--primary-color);
    color: white;
    font-weight: bold;
    transition: 0.2s ease;
}

form input[type="submit"]:hover {
    background: #13759a;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.container-one {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.location-tag {
    display: flex;
    background-color: var(--secondary-color);
    padding: 12px 18px;
    width: fit-content;
    border-radius: 24px;
    gap: 12px;
}

.weather-cube {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 20px;
}

.container-two {
    border-radius: 12px;
    background-image: var(--image-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

#alert-background {
    display: none;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

#alert {
    height: 100dvh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.alert-box{
    height: 20px;
    width: 340px;
    background-color: rgb(255, 210, 210);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-box p {
    color: black;
}

.hourly-forecast {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#twentyfour-hour {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.hour-card {
    padding: 14px;
    min-width: 180px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hour-card h4 {
    margin-bottom: 14px;
}

.hour-icon {
    width: 26px;
    height: auto;
    margin-left: 80px;
}

.hour-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 6px;
}

.metric-icon {
    width: 22px;
    height: auto;
}

.conditions {
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}

#theme-toggle {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
}

#theme-toggle:hover {
    background-color: var(--bg-color);
}