.weather-data-row {
    display: flex;
    gap: 0.5rem;
}

#alert-background {
    display: none;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: grey;
}